---
---

@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap')

// Courier Prime font
@font-face
  font-family: 'Courier Prime'
  src: url('../fonts/CourierPrime-Bold.ttf') format('truetype')
  font-weight: bold
  font-style: normal

@font-face
  font-family: 'Courier Prime'
  src: url('../fonts/CourierPrime-BoldItalic.ttf') format('truetype')
  font-weight: bold
  font-style: italic

@font-face
  font-family: 'Courier Prime'
  src: url('../fonts/CourierPrime-Italic.ttf') format('truetype')
  font-weight: normal
  font-style: italic

@font-face
  font-family: 'Courier Prime'
  src: url('../fonts/CourierPrime-Regular.ttf') format('truetype')
  font-weight: normal
  font-style: normal

//------------------------------------------------
// Set some colors as sass variables
$accent-color: #70bafa
$accent: #70bafa
$accent-light: adjust-hue(saturate(lighten($accent, 11%), 12.6%), 14%)
$selectionColor: lighten($accent, 30%)

$fontFamily: 'Courier Prime', monospace, sans-serif
$textColor: #cdced2
$headlineColor: #70bafa
$bgcolor: #363d4a
$documentBackgroundColor: #363d4a
$lightText: white
$lightAccent: #b3e6ff

@import '1-tools/-tools-dir'
@import '2-base/-base-dir'
@import '3-sections/-sections-dir'
