<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>
        {% if page.title == "Home" %}
        {{ site.title }}
        {% else %}
        {{ page.title }} | {{ site.title }}
        {% endif %}
    </title>
    <script defer="defer" src="{{ site.github.url }}/assets/script/main213a9e594b94fd29131f.js"></script>
</head>

<body>
    <div class="flex">
        <h1 class="font centered">{{ page.title }}</h1>
        <div class="canvas-container dotted-border"><canvas id="code00-canvas" style="border: none;" width="1280"
                height="720"></canvas>
            <div id="overlay">
                <pre><em>(Holding shift</em></pre>
                <pre><em> changes action)</em></pre>
                <pre>  Move:</pre>
                <pre>Forward:   W/w</pre>
                <pre>Left:      A/a</pre>
                <pre>Backward:  S/s</pre>
                <pre>Right:     D/d</pre>
                <pre>  Look:</pre>
                <pre>Yaw:       Y/y</pre>
                <pre>Pitch:     P/p</pre>
                <pre>Roll:      R/r</pre>
                <pre>  Debug:</pre>
                <pre>Reset:     `</pre>
                <pre>Wireframe: T/t</pre>
            </div>
        </div>
        <footer class="font centered flex-end">Made by Luke Leedy © 2022</footer>
    </div>
</body>

</html>